body{
margin:0;
font-family:Arial;
background:#ef5350;
display:flex;
justify-content:center;
}

.app{
width:380px;
max-width:95%;
background:white;
margin:20px;
border-radius:20px;
padding:20px;
box-shadow:0 10px 30px rgba(0,0,0,.3);
}

h1,h2{
text-align:center;
}

.busqueda{
display:flex;
gap:10px;
}

input{
flex:1;
padding:10px;
border-radius:10px;
border:none;
background:#eee;
}

button{
padding:10px 15px;
border:none;
background:#ffcb05;
font-weight:bold;
border-radius:10px;
cursor:pointer;
}

.card{
text-align:center;
padding:15px;
margin-top:20px;
background:#f5f5f5;
border-radius:15px;
}

.card img{
width:180px;
}

.favorito{
background:#ff4444;
color:white;
margin-top:10px;
}

#favoritos{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-top:15px;
}

.fav{
background:#fafafa;
padding:10px;
border-radius:10px;
text-align:center;
cursor:pointer;
}

.fav img{
width:80px;
}